<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WCName</key>
	<string>Jekyll</string>
	<key>WCCommand</key>
	<string>jekyll.rb</string>
	<key>WCUUID</key>
	<string>86E1BC32-4156-4508-9861-FFBBE86153F2</string>
	<key>WCEditable</key>
	<integer>0</integer>
</dict>
</plist>
